<header class="sticky bg-white top-0 border-b border-gray py-2 z-50  md:py-7">
  <div class="container flex justify-between items-center relative md:justify-center ">
    <a href="./index.html"
      class="w-[74px] h-[33px]  indent-[101%] whitespace-nowrap overflow-hidden md:w-[90px] md:md:h-[40px] md:left-0 md:top-1/2 md:absolute md:-translate-y-1/2"
      style="background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg');">
      Neal
    </a>
    <nav class="hidden md:block">
      <ul class="flex gap-10">
        <li>
          <a href="#" class="px-2 py-1">
            首頁
          </a>
        </li>
        <li>
          <a href="#" class="px-2 py-1">
            作品集
          </a>
        </li>
        <li>
          <a href="#" class="px-2 py-1">
            服務項目
          </a>
        </li>
        <li>
          <a href="#" class="px-2 py-1">
            部落格
          </a>
        </li>
        <li>
          <a href="#" class="px-2 py-1">
            聯絡我
          </a>
        </li>
      </ul>
    </nav>
    <button type="button" class="block md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="black" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
      </svg>
    </button>
  </div>
</header>